@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* font /\ /\ /\ */

*,
html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  z-index: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* navbar start */

nav {
  height: 50px;
  width: 100vw;
  background-color: #1f8ab0;
  color: #f7f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 1;
  z-index: 2;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 95vw;
}

.nav p {
  font-size: 20pt;
  font-weight: 600;
}

.nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav a {
  color: #f7f8f8;
  text-decoration: none;
}

/* nav end */

/* container */

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* container end */

